<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<h1 style="text-align : center ; color: white ; margin-top: 5rem; font-family: Times New Roman, Times, serif">WELCOME TO FARM 2 HOME</h1>
<body background="https://images.unsplash.com/photo-1495107334309-fcf20504a5ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" style="background-size: cover">
<center>
    {% if form.errors %}
    <h4 style="text-align : center ; color:red ; margin-top: 5rem ">You have entered wrong username/password!</h4>
    {% endif %}

    {% if next %}
    <p >Hey, you can't access that page.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}" style="margin-top: 35rem">
        {% csrf_token %}
        <p><i class='fas fa-user-alt'></i> Username: {{ form.username }}</p>
        <p><i class="fas fa-key"></i> Password: {{ form.password }}</p>

        <p><input style = "background-color: #4CAF50; border: none;color: white; padding: 8px 16px;text-decoration: none;margin: 4px 2px;cursor: pointer;" type="submit" value="Login"></p>
        <input type="hidden" name="next" value="{{ next }}">
    </form>

   Don't have an account? <a href="/register" target="blank"><strong>Sign up here!</strong></a>!
    </center>
</body>
</html>