<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
</head>
<body style="background-image : url(https://www.saintgobainformula.com/sites/formula.com/files/2016/12/case-study-yara.jpg);  background-repeat: no-repeat; background-size: cover;">
<div  style="background-image: url(http://www.californiafootgolfclub.com/static/img/footgolf-1.jpg); background-size: 100%; text-align: center">
    <u>
  <h1 class="display-4" style="text-align: center;font-family:georgia,garamond,serif;font-style:italic;">Thank you for visiting !!</h1>
        </u>
 <a href="/login" target="blank" ><strong>Login again</strong></a>
    </div>
</body>
</html>